@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  src: url('/styles/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: scroll;

}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

@layer base {
  :root {
    --background: 221 100% 94%;
    --foreground: 221 100% 10%;
  
    --card: 221 100% 96%;
    --card-foreground: 221 100% 12%;
  
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 12%;
  
    --primary: 221 66% 50%; /* darker blue */
    --primary-foreground: 0 0% 100%;
  
    --secondary: 221 50% 80%;
    --secondary-foreground: 221 100% 15%;
  
    --muted: 221 50% 80%;
    --muted-foreground: 221 30% 30%;
  
    --accent: 221 50% 80%;
    --accent-foreground: 221 100% 15%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
  
    --border: 221 50% 75%;
    --input: 221 50% 75%;
    --ring: 221 66% 50%;
  
    --chart-1: 221 66% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 43 74% 66%;
    --chart-4: 280 65% 60%;
    --chart-5: 27 87% 67%;
  
    --radius: 0.5rem;
  }
  
  
  
  
  
  .dark {
    --background: 0 8% 7.5%;
    --foreground: 0 0% 98%;
  
    --card: 0 8% 7.5%;
    --card-foreground: 0 0% 98%;
  
    --popover: 0 8% 7.5%;
    --popover-foreground: 0 0% 98%;
  
    --primary: 245 100% 67.9%;
    --primary-foreground: 0 0% 100%;
  
    --secondary: 0 5% 12%;
    --secondary-foreground: 0 0% 98%;
  
    --muted: 0 5% 12%;
    --muted-foreground: 0 0% 63.9%;
  
    --accent: 0 5% 12%;
    --accent-foreground: 0 0% 98%;
  
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  
    --border: 0 5% 12%;
    --input: 0 5% 12%;
    --ring: 0 0% 60%;
  
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  
  .theme {
    --animate-shine: shine var(--duration) infinite linear;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
}